.champion-select{
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-areas: 
  'blue-side-picks champ-list red-side-picks'
  'blue-side-bans champ-list red-side-bans'
  ;
}

.champ-list{
  grid-area: champ-list;
  background-color: green;
  display: flex;
  overflow: scroll;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y:scroll;
}

.blue-side-bans{
  grid-area: blue-side-bans;
  display: flex
}

.red-side-bans{
  grid-area: red-side-bans;
  display: flex
}

.ban-image{
  height: 86px;
  width: 86px;
}


