.page-container {
    font-family: 'beaufort-pro';
    background-color: #061c25;
    overflow: hidden;
}

.draft-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 15% 65% 20%;
    grid-template-areas: 
    'draft-container-header draft-container-header draft-container-header'
    'blue-picks champ-select red-picks'
    'blue-bans champ-select red-bans';
    height: 100vh;
    width: 100vw;
}

.champ-select {
    grid-area: champ-select;
    display: grid;
    padding: 1rem;
    grid-template-rows: 10% 68% 22%; ///no clue why at 94% it is too big
    grid-template-areas: 
    'champ-select-header'
    'champ-list'
    'champ-select-footer';
    background-color: #021117;
}

.champ-select-header{
    grid-area: champ-select-header;
    display: grid;
    grid-template-areas: 'lane-filter search-bar';
}
///make the content containing the text not opaque
.end-draft-container{
    display: flex;
    //align-items: center;
    //justify-content: center;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: #00000089
}

.end-draft{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    opacity: 100%;  
    background-color: #ffff;
    height: 30rem;
    width: 30rem;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate((-50%), (-60%));

}

.role-select{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:2rem;
}

.assignemnt-champ-icon{
    height: 4rem;
    object-fit:contain;
}



.lane-filter{
    grid-area: lane-filter;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    gap: 1rem;
    padding-right: 1rem;
}

.search-bar{
    grid-area: search-bar;
    background-color: rgb(202, 178, 202);
    font-size: 1.2rem;
}

.lane-button{
    transition-duration: 0.4s;
}

.lane-button:hover {
background-color: #ebebb2;
}

.lane-button-active {
    background-color: #ebebb2;
}

.champ-list{
    grid-area: champ-list;
    display: grid;
    grid-template-columns: repeat(auto-fill, 135px);
    justify-content: space-around;
    overflow-y: scroll;
}

.blue-picks {
    grid-area: blue-picks;
    display:flex;
    flex-direction: column;
    gap: 10px;///why in px
    padding: 1rem;
}

.red-picks {
    grid-area: red-picks;
    display:flex;
    flex-direction: column;
    gap: 10px;///why in px
    padding: 10px;///why in px
}

.summoner {
    display: flex;
    align-items: center;
    background-color: rgb(0, 102, 128);
    height: 135px;///why in px
}

.red-summoner {
    display: flex;
    align-items: center;
    background-color: rgb(0, 102, 128);
    height: 135px;///why in px
    justify-content: right;
}

.champselect-image {
    height: 7rem;
    width: 150px;///why in px
    object-fit: cover;
}

.champ-select-footer{
    grid-area: champ-select-footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lock-button{
    background-color: rgb(194 144 45);
    height: 5rem;
    width: 18rem;
    transition-duration: 0.2s;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;    
}

.lock-button:hover{
    background-color: rgb(198, 169, 112);
}

.blue-bans{
    grid-area: blue-bans;
    background-color: #021117;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2rem;
    padding-left: 1rem;
}

.red-bans{
    grid-area: red-bans;
    background-color: #021117;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2rem;
    padding-right: 1rem;
}

.ban-image{
    height: 6.5rem;
    width: 6.5rem;
    border-style: solid;
    border-width: .1rem;
    border-color: white;
}

.draft-container-header{
    grid-area: draft-container-header;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: 
    'blue-banner timer red-banner';
}

.timer {
    grid-area: timer;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 800;
    color: white;
}

.blue-banner {
    grid-area: blue-banner;
    display:flex;
    justify-content: right;
    align-items: center;
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    color: #fff;
    background-color: blue;
    padding: 1rem;
}

.red-banner {
    grid-area: red-banner;
    display:flex;
    justify-content: left;
    align-items: center;
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    color: #fff;
    background-color: red;
    padding: 1rem;
}

/* 
.sort-and-search {
    display: flex;
}
*/